<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/sit (1).jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">About us</h5>
        <p class="card-text">Roar trading web development center is ready to solve and manage your website. </p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card text-bg-dark">
  <img src="static/sit (2).jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Tech solution center</h5>
    <p class="card-text">We create and host websites for business and create networkwork for our customers. Our services are available and timely</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>